#map {
        width: 100%;
        height: 400px;
      }
      
h3 {
    font-family: helvetica;

}


html, body {
        font-family: helvetica;
        /*width: 1500px;*/
        width: 100%;
        height: 95%;
        margin: 0;
        padding: 0;
      }
#map, #pano {
    float: left;
    height: 90%;
    width: 50%;
}

#myModal{

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: 100px;
    

    
}
      